body {
    font-family: 'Muli', sans-serif;
}
h1 {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2em;
    text-align: center;
    padding: 10px 10px;
}
span {
    font-weight: 900;
}
.person {
    width: 200px;
    border-radius: 30px;
}
h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    padding: 10px 10px;
}

.container {
    width: 1024px;
    margin: 0 auto;
}

.head-container {
    margin: 0 auto;
    position: relative;
}
.contacts {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.contacts li {
    display: inline-block;
}
.contacts a {
    text-decoration: none;
    color: #8B00FF;
}
[href="mailto:sky.light.blr@gmail.com"]::before {
    content: url(icons/mail.png);
    position: relative;
    top: 4px;
    left: -2px;
}
[href="tel:+375293409424"]::before {
    content: url(icons/phone.png);
    position: relative;
    top: 4px;
    left: -2px;
}
[href="https://t.me/owner_lt"]::before {
    content: url(icons/telegram.png);
    position: relative;
    top: 4px;
    left: -2px;
}
.contacts a:hover {
    color: #2AB9FF;
}
.phone {
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 0 2px 0 4px;
}

.education-item a{
    text-decoration: none;
    color: #8B00FF;
}
.education-item a:hover {
    color: #2AB9FF;
}

.technical-skills-list {
    text-align: center;
}
.technical-skills-item {
    display: inline-block;
}
.technical-skills-item img {
    width: 120px;
}
.copyright p {
    text-align: center;
    padding: 20px;
}
